/* Styles généraux */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  /* Styles de l'en-tête */
  header {
    background-color: #5c3d5c;
    padding: 20px;
    color: white;
  }
  
  .search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-bar input,
  .search-bar button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  /* Styles du contenu principal */
  main {
    flex-grow: 1;
    padding: 20px;
  }
  
  .book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .book-card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .book-card img {
    max-width: 100%;
    height: auto;
  }