body {
    color: #4b0082;
    margin: 0;
    padding: 70px 0;
    position: relative; /* Ensure the body is positioned relative for the background */
}

.profile-container {
    max-width: 800px;
    background-color: rgba(74, 0, 128, 0.1);
    box-shadow: 0 20px 20px rgb(74, 0, 128);
    border-radius: 50px;
    padding: 40px;
    width: 60%; /* Reduce the width by 30% */
    position: absolute; /* Position the div absolutely */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%) scale(0.8); /* Adjust position to truly center and scale down */
    margin-top: 32rem; /* Add top margin to center */
    backdrop-filter: blur(4px); /* Add blur effect for glass mode */
    -webkit-backdrop-filter: blur(10px); /* Add blur effect for Safari */
    border: 1px solid white; /* Add white border */
}

.profile-header {
    display: flex;
    align-items: flex-start;
}

header {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 0.5rem 1rem;
    background: linear-gradient(to top, #4D3857, #3d1e54); /* Dark violet gradient */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    height: 4rem; /* Garde la hauteur de la navbar inchangée */
}

header h1 {
    font-size: 2rem;
    flex-grow: 1;
    text-align: center;
    background: linear-gradient(to bottom, #e8c84c, #ffffff); /* Golden to white gradient */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none; /* Prevent underline */
    margin: 3rem; /* Remove default margin */
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.2rem; /* Further adjust font size for very small screens */
    }
}



.user-button {
    background: none;
    border: none;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    padding-right: 4rem;
}

.search-bar {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  background-color: #e5e5e5;
  padding: 0.25rem 0.5rem; /* Decrease padding to reduce searchbar height */
  border-radius: 0.625rem;
  margin-left: auto; /* Align to the right */
}

.search-bar input {
  border: none;
  background: none;
  padding: 0.25rem; /* Decrease padding to reduce navbar height */
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    border-left: 5px solid #8a2be2;
    border-top: 5px solid #8a2be2;
    box-shadow: 0 5px 20px #4b0082;
    object-fit: cover; /* Ensure the image maintains its aspect ratio */
}

.user-info {
    flex-grow: 1;
}

.user-info h1 {
    color: #ffffff;
}

.user-info p {
    margin: 5px 0;
    color: white;
}

.btn-modifier {
    font-size: 1.4rem;
    background-color: #4b0082;
    color: white;
    border: none;
    padding: 20px 30px; /* Tripled the padding */
    border-radius: 40px;
    cursor: pointer;
    margin-top: 30px;
}

.btn-modifier:hover {
    background-color: #3a0066;
}

.btn-modifier:hover,
.avatar:hover,
.book:hover,
.account-stats:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.account-stats {
    border-right: 5px solid #8a2be2;
    border-top: 5px solid #8a2be2;
    background-color: #f4f4f9;
    color: hsl(275, 100%, 25%);
    padding: 30px;
    border-radius: 40px;
    flex-shrink: 0;
}

.account-stats h1 {
    margin-top: 0;
}

.favorite-books {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1px;
}

.favorite-books h1 {
    color: white;
    margin-left: 2rem;
}

.livres-pref {
    border-left: 5px solid #8a2be2;
    border-right: 5px solid #8a2be2;
    border-bottom: 5px solid #8a2be2;
    color: hsl(275, 100%, 25%);
    border-radius: 40px;
    flex-shrink: 0;
    margin-right: 25rem;
    margin-bottom: 1rem;
}


.book {
    background-color: #f4f4f9;
    padding: 20px;
    padding-top: 1rem;
    margin-bottom: 10px;
    border-left: 5px solid #8a2be2;
    border-top: 5px solid #8a2be2;
    border-radius: 2rem;
}

.book h3 {
    margin: 0;
    color: #4b0082;
}

.progress-container {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.progress-label {
    background: radial-gradient(circle, #eaccff, #d396ff);
    padding: 1rem;
    border-radius: 3rem;
    position: absolute;
    right: 0;
    top: -90px; /* Adjusted to move the label higher */
    right: 20px;
    color: #4b0082;
    font-weight: bold;
    font-size: 4rem; /* Adjusted font size to be more reasonable */
}

.progress-bar {
    width: 75%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    height: 1rem;
    background-color: #4caf50;
    width: 2rem;
    transition: width 0.3s ease;
}


.animated-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    min-height: 350px;
    margin: 0;
    top: 0;
    left: 0;
    background-color: #111;
    background-image: linear-gradient(to top, #222 5%, #111 6%, #111 7%, transparent 7%), linear-gradient(to bottom, #111 30%, transparent 30%), linear-gradient(to right, #222, #2e2e2e 5%, transparent 5%), linear-gradient(to right, transparent 6%, #222 6%, #2e2e2e 9%, transparent 9%), linear-gradient(to right, transparent 27%, #222 27%, #2e2e2e 34%, transparent 34%), linear-gradient(to right, transparent 51%, #222 51%, #2e2e2e 57%, transparent 57%), linear-gradient(to bottom, #111 35%, transparent 35%), linear-gradient(to right, transparent 42%, #222 42%, #2e2e2e 44%, transparent 44%), linear-gradient(to right, transparent 45%, #222 45%, #2e2e2e 47%, transparent 47%), linear-gradient(to right, transparent 48%, #222 48%, #2e2e2e 50%, transparent 50%), linear-gradient(to right, transparent 87%, #222 87%, #2e2e2e 91%, transparent 91%), linear-gradient(to bottom, #111 37.5%, transparent 37.5%), linear-gradient(to right, transparent 14%, #222 14%, #2e2e2e 20%, transparent 20%), linear-gradient(to bottom, #111 40%, transparent 40%), linear-gradient(to right, transparent 10%, #222 10%, #2e2e2e 13%, transparent 13%), linear-gradient(to right, transparent 21%, #222 21%, #1a1a1a 25%, transparent 25%), linear-gradient(to right, transparent 58%, #222 58%, #2e2e2e 64%, transparent 64%), linear-gradient(to right, transparent 92%, #222 92%, #2e2e2e 95%, transparent 95%), linear-gradient(to bottom, #111 48%, transparent 48%), linear-gradient(to right, transparent 96%, #222 96%, #1a1a1a 99%, transparent 99%), linear-gradient(to bottom, transparent 68.5%, transparent 76%, #111 76%, #111 77.5%, transparent 77.5%, transparent 86%, #111 86%, #111 87.5%, transparent 87.5%), linear-gradient(to right, transparent 35%, #222 35%, #2e2e2e 41%, transparent 41%), linear-gradient(to bottom, #111 68%, transparent 68%), linear-gradient(to right, transparent 78%, #333 78%, #333 80%, transparent 80%, transparent 82%, #333 82%, #333 83%, transparent 83%), linear-gradient(to right, transparent 66%, #222 66%, #2e2e2e 85%, transparent 85%);
    background-size: 300px 150px;
    background-position: center bottom;
    z-index: -1; /* Ensure the background stays behind the content */
}
.animated-background:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #111;
    background-image: linear-gradient(to top, #d2b48c 5%, #111 6%, #111 7%, transparent 7%), linear-gradient(to bottom, #111 30%, transparent 30%), linear-gradient(to right, #b22222, #871a1a 5%, transparent 5%), linear-gradient(to right, transparent 6%, #ff6347 6%, #ff3814 9%, transparent 9%), linear-gradient(to right, transparent 27%, #556b2f 27%, #39481f 34%, transparent 34%), linear-gradient(to right, transparent 51%, #fa8072 51%, #f85441 57%, transparent 57%), linear-gradient(to bottom, #111 35%, transparent 35%), linear-gradient(to right, transparent 42%, #008080 42%, #004d4d 44%, transparent 44%), linear-gradient(to right, transparent 45%, #008080 45%, #004d4d 47%, transparent 47%), linear-gradient(to right, transparent 48%, #008080 48%, #004d4d 50%, transparent 50%), linear-gradient(to right, transparent 87%, #789 87%, #4f5d6a 91%, transparent 91%), linear-gradient(to bottom, #111 37.5%, transparent 37.5%), linear-gradient(to right, transparent 14%, #bdb76b 14%, #989244 20%, transparent 20%), linear-gradient(to bottom, #111 40%, transparent 40%), linear-gradient(to right, transparent 10%, #808000 10%, #4d4d00 13%, transparent 13%), linear-gradient(to right, transparent 21%, #8b4513 21%, #5e2f0d 25%, transparent 25%), linear-gradient(to right, transparent 58%, #8b4513 58%, #5e2f0d 64%, transparent 64%), linear-gradient(to right, transparent 92%, #2f4f4f 92%, #1c2f2f 95%, transparent 95%), linear-gradient(to bottom, #111 48%, transparent 48%), linear-gradient(to right, transparent 96%, #2f4f4f 96%, #1c2f2f 99%, transparent 99%), linear-gradient(to bottom, transparent 68.5%, transparent 76%, #111 76%, #111 77.5%, transparent 77.5%, transparent 86%, #111 86%, #111 87.5%, transparent 87.5%), linear-gradient(to right, transparent 35%, #cd5c5c 35%, #bc3a3a 41%, transparent 41%), linear-gradient(to bottom, #111 68%, transparent 68%), linear-gradient(to right, transparent 78%, #bc8f8f 78%, #bc8f8f 80%, transparent 80%, transparent 82%, #bc8f8f 82%, #bc8f8f 83%, transparent 83%), linear-gradient(to right, transparent 66%, #a52a2a 66%, #7c2020 85%, transparent 85%);
    background-size: 300px 150px;
    background-position: center bottom;
    clip-path: circle(150px at center center);
    animation: flashlight 15000ms infinite; /* Adjusted duration for more movements */
}
.animated-background:after {
    content: '';
    width: 25px;
    height: 10px;
    position: absolute;
    left: calc(50% + 59px);
    bottom: 100px;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle, #fff 50%, transparent 50%), radial-gradient(circle, #fff 50%, transparent 50%);
    background-size: 10px 10px;
    background-position: left center, right center;
    animation: eyes 5000ms infinite;
}
@-moz-keyframes flashlight {
    0%, 9% {
        opacity: 0;
        clip-path: circle(150px at 45% 10%);
    }
    10%, 15%, 85% {
        opacity: 1;
    }
    50% {
        clip-path: circle(150px at 60% 20%);
    }
    54%, 100% {
        clip-path: circle(150px at 55% 92%);
    }
    88%, 100% {
        opacity: 0;
    }
}
@-webkit-keyframes flashlight {
    0%, 9% {
        opacity: 0;
        clip-path: circle(150px at 45% 10%);
    }
    10%, 15%, 85% {
        opacity: 1;
    }
    50% {
        clip-path: circle(150px at 60% 20%);
    }
    54%, 100% {
        clip-path: circle(150px at 55% 92%);
    }
    88%, 100% {
        opacity: 0;
    }
}
@-o-keyframes flashlight {
    0%, 9% {
        opacity: 0;
        clip-path: circle(150px at 45% 10%);
    }
    10%, 15%, 85% {
        opacity: 1;
    }
    50% {
        clip-path: circle(150px at 60% 20%);
    }
    54%, 100% {
        clip-path: circle(150px at 55% 92%);
    }
    88%, 100% {
        opacity: 0;
    }
}
@keyframes flashlight {
    0%, 3% {
        opacity: 0;
        clip-path: circle(150px at 45% 10%);
    }
    4%, 7%, 97% {
        opacity: 1;
    }
    10% {
        clip-path: circle(450px at 0% 0%);
    }
    20% {
        clip-path: circle(450px at 100% 0%);
    }
    30% {
        clip-path: circle(450px at 100% 100%);
    }
    40% {
        clip-path: circle(450px at 0% 100%);
    }
    50% {
        clip-path: circle(450px at 50% 50%);
    }
    60% {
        clip-path: circle(450px at 50% 50%);
    }
    70% {
        clip-path: circle(450px at 50% 50%);
    }
    80% {
        clip-path: circle(450px at 50% 50%);
    }
    90% {
        clip-path: circle(450px at 50% 50%);
    }
    98%, 100% {
        opacity: 0;
    }
}
@-moz-keyframes eyes {
    0%, 52% {
        opacity: 0;
    }
    53%, 87% {
        opacity: 1;
    }
    64% {
        transform: scaleY(1);
    }
    67% {
        transform: scaleY(0);
    }
    70% {
        transform: scaleY(1);
    }
    88%, 100% {
        opacity: 0;
    }
}
@-webkit-keyframes eyes {
    0%, 52% {
        opacity: 0;
    }
    53%, 87% {
        opacity: 1;
    }
    64% {
        transform: scaleY(1);
    }
    67% {
        transform: scaleY(0);
    }
    70% {
        transform: scaleY(1);
    }
    88%, 100% {
        opacity: 0;
    }
}
@-o-keyframes eyes {
    0%, 52% {
        opacity: 0;
    }
    53%, 87% {
        opacity: 1;
    }
    64% {
        transform: scaleY(1);
    }
    67% {
        transform: scaleY(0);
    }
    70% {
        transform: scaleY(1);
    }
    88%, 100% {
        opacity: 0;
    }
}
@keyframes eyes {
    0%, 52% {
        opacity: 0;
    }
    53%, 87% {
        opacity: 1;
    }
    64% {
        transform: scaleY(1);
    }
    67% {
        transform: scaleY(0);
    }
    70% {
        transform: scaleY(1);
    }
    88%, 100% {
        opacity: 0;
    }
}


.animated-icon {
    display: flex;
    align-items: center;
    overflow: visible;
    /* Permet de dépasser si nécessaire */
}

@keyframes book-bounce {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    80% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shelf-lift {
    0% {
        transform: translateY(0) rotate(0);
    }

    20% {
        transform: translateY(-4px) rotate(10deg);
    }

    40% {
        transform: translateY(-4px) rotate(0);
    }

    40% {
        transform: translateY(-4px) rotate(-10deg);
    }

    80% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

.book-shelf {
    cursor: pointer;
    transform: scale(2.5);
    /* Double la taille de l'icône */
    transform-origin: center;
    /* Assure que l'agrandissement se fait depuis le centre */
}

.book-shelf:hover {
    cursor: pointer;
    transform: scale(3);
    /* Double la taille de l'icône */
    transform-origin: center;
    /* Assure que l'agrandissement se fait depuis le centre */
}

.book-shelf:hover .book-shelf__book {
    animation: book-bounce 0.4s ease;
    animation-iteration-count: 1;
}

.book-shelf:hover .book-shelf__book--two {
    animation-delay: 0.04s;
}

.book-shelf:hover .book-shelf__book--three {
    animation-delay: 0.08s;
}

.book-shelf:hover .book-shelf__shelf {
    animation: shelf-lift 0.4s ease;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

@keyframes move-right-fade-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(40px);
        opacity: 0;
    }
}

.book-shelf.clicked {
    animation: move-right-fade-out 0.5s forwards;
}

.no-scroll {
    overflow: hidden;
}